{% extends "base.html" %}
{% load wagtailimages_tags %}

{% block content %}
    {% include "includes/intro.html" with intro=self.intro only %}

    {% if self.image %}
        {# Person image - first store image as a variable in order to construct an image tag with a class applied #}
        {% image self.image width-300 as photo %}
        <div class="center-block">
            <img src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}" alt="{{ photo.alt }}" class="img-thumbnail" />
        </div>
    {% endif %}

    {% if self.biography %}
        <h3>Su vida</h3>
    {% endif %}

    {% include "includes/body.html" with body=self.biography only %}

    {% include "includes/contact.html" with contact=self only %}

    {% include "includes/related_links.html" with related_links=self.related_links.all only %}
{% endblock %}