{% extends "base.html" %}

{% block carousel %}
{% include "includes/carousel.html" with carousel_items=self.carousel_items.all only %}
{% endblock %}

{% block heading %}
<div class="page-header">
    <h2>{{ self.title }}</h2>
</div>
{% endblock %}

{% block content %}
{% include "includes/intro.html" with intro=self.intro only %}

{% include "includes/body.html" with body=self.body only %}

{% include "includes/related_links.html" with related_links=self.related_links.all only %}
{% endblock %}