{% if news %}
<div id="carousel-example-generic" class="carousel fade" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        {% for new in news %}
        <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter }}" {% if forloop.parentloop.firs %} class="active" {% endif %}></li>
        {% endfor %}
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        {% for new in news %}
            {% include "includes/news_home_list_item.html" with new=new carousel_item=new.carousel_items.first %}
        {% endfor %}
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
    </a>
</div>
{% endif %}